//Override Bootstrap variable colors
$primary: #7B1FB5;          /* Purple */
$secondary:  #682E8C;       /* Slightly Darker Purple */
$dark: #3A393A;             /* Dark gray */
$light: #EDE8EC;                      /* Off-white */
$white: #EDE8EC;            /* Off-white */
