//Override Bootstrap variable colors
$primary: #811fb5;          /* Purple */
$secondary:  #682E8C;       /* Slightly Darker Purple */
$dark: #39393a;             /* Dark gray */
$light: #ebe8ed;            /* Off-white */
$white: #ebe8ed;            /* Off-white */
$muted: #c6bfca;            /* Light gray color */
